{%- assign attachments_count = product.metafields.custom.product_attachments_count.value -%}

{%- if attachments_count > 1 -%}
  {%- for i in (1..attachments_count) -%}
    <div class="product-form__info-item product-form__info-item--attachment">
      <label class="product-form__info-title text--strong">{{ block.settings.label }} {{ i }}:</label>
      <div class="product-form__info-content">
        <input type="file" name="properties[{{ block.settings.label }} {{ i }}]"
               {%- if block.settings.required -%}required{%- endif -%} >
      </div>
    </div>
  {%- endfor -%}
{%- else -%}
  <div class="product-form__info-item product-form__info-item--attachment">
    <label class="product-form__info-title text--strong">{{ block.settings.label }}:</label>
    <div class="product-form__info-content">
      <input type="file" name="properties[{{ block.settings.label }}]"
             {%- if block.settings.required -%}required{%- endif -%} >
    </div>
  </div>

{%- endif -%}


