<link rel="stylesheet" href="{{ 'custom-packages.css' | asset_url }}">
{% if section.settings.bg_image != blank %}
  <style>
      [data-section-id="{{ section.id }}"] {
          background-image: url({{ section.settings.bg_image | img_url: '1920x' }});
          background-repeat: no-repeat;
          background-size: cover;
      }
  </style>
{% endif %}
<section class="section section--packages" data-section-id="{{ section.id }}" data-section-type="html">
  <div class="container">
    <div class="html rte">
      {%- if section.settings.show_filter -%}
        <div class="filter-container">
          <div class="filter-container-inner">
            {% assign product_types_array = "" %}
            {%- for block in section.blocks -%}
              {% assign product_types_array = product_types_array | append: block.settings.product_type | append: "," %}
            {%- endfor -%}
            {%- assign product_types_array = product_types_array | split: "," | uniq %}

            {%- for type in product_types_array -%}
              {% if forloop.first %}
                <button class="filter-button filter-button--active button"
                        data-filter="package-box--{{ type | downcase | replace: ' ', '-' }}">{{ type }}</button>
              {% else %}
                <button class="filter-button button"
                        data-filter="package-box--{{ type | downcase | replace: ' ', '-' }}">{{ type }}</button>
              {% endif %}
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
      {% assign count = 0 %}
      {% for block in section.blocks %}
        {% assign count = count | plus: 1 %}
      {% endfor %}
      <div
        class="package-container {% if section.settings.show_filter %} package-container--with-filter {% endif %} {% if count <= 2 %}two-columns{% endif %}">
        {%- for block in section.blocks -%}
        {%- if section.settings.show_filter -%}
        <div class="package-box package-box--{{ block.settings.product_type | downcase | replace: ' ', '-' }}">
          {%- else -%}
          <div class="package-box">
            {%- endif -%}
            <div class="package-icon">
              {% comment %}{%- if block.settings.image != blank -%}{% endcomment %}
                {% comment %}<img src="{{ block.settings.image | img_url: '100x100' }}" alt="icon">{% endcomment %}
              {% comment %}{%- else -%}{% endcomment %}
                <img src="{{ block.settings.product.featured_image | product_img_url: '100x100' }}" alt="icon">
              {% comment %}{%- endif -%}{% endcomment %}
            </div>
            <div class="title-container">
              <div class="package-title">{{ block.settings.product.title }}</div>
            </div>
            {%- assign selected_variant = block.settings.product.selected_or_first_available_variant -%}
            <div class="package-price">
              {%- if selected_variant.compare_at_price > selected_variant.price -%}
                <span class="price price--highlight">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- selected_variant.price | money_with_currency -}}
                  {%- else -%}
                    {{- selected_variant.price | money -}}
                  {%- endif -%}
                </span>

                <span class="price price--compare">
                  <span class="visually-hidden">{{ 'product.general.regular_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- selected_variant.compare_at_price | money_with_currency -}}
                  {%- else -%}
                    {{- selected_variant.compare_at_price | money -}}
                  {%- endif -%}
                </span>
              {%- else -%}
                <span class="price">
                  <span class="visually-hidden">{{ 'product.general.sale_price' | t }}</span>

                  {%- if settings.currency_code_enabled -%}
                    {{- selected_variant.price | money_with_currency -}}
                  {%- else -%}
                    {{- selected_variant.price | money -}}
                  {%- endif -%}
                </span>
              {%- endif -%}
            </div>
            <a href="{{ block.settings.product.url }}" class="learn-more-button button">
              {{ block.settings.button_title }}
            </a>
            <p class="bold-paragraph">{{ block.settings.description_title }}</p>
            <div
              class="package-description {% if block.settings.dropdown_for_description == true %}package-description--dropdown{% endif %}">{{ block.settings.description }}</div>
          </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Custom Packages",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_filter",
      "label": "Show filter",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "product_type",
          "label": "Product type",
          "default": "Packages",
          "info": "This is used to filter the products. Use: 'Individual Services', 'Packages', 'Subscription Plans' etc."
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product",
          "info": "Select a product to display"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Title",
          "default": "Learn more"
        },
        {
          "type": "header",
          "content": "Description"
        },
        {
          "type": "text",
          "id": "description_title",
          "label": "Title",
          "default": "Resume + Cover Letter"
        },
        {
          "type": "header",
          "content": "Description Settings"
        },
        {
          "type": "checkbox",
          "id": "dropdown_for_description",
          "label": "Initialize dropdown functionality",
          "default": false
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<ul><li>A custom resume designed to highlight your experience and skills</li><li>A personalised cover letter tailored to the job you’re applying for</li><li>LinkedIn profile optimisation to boost recruiter visibility</li></ul>"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Products",
      "name": "Custom Packages"
    }
  ]
}
{% endschema %}